header {
    background-color: #FFFFFF;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    background: url("/images/hbnb_logo_name.png") no-repeat left;
    text-align: center;
    margin-left: 20px;
}