body {
    padding: 0px;
    margin: 0px;
    color: #484848;
    font-size: 14px;
    font-family:Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
    max-width: 1000px;
    margin: 30px auto;
}

.no_bullet {
    list-style: none;
    margin-bottom: 10px;
}

.interface_structure{
    min-height: 100vh - 60px;
}

.grid_div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}