.places {
    font-size: 30px;
}

.articles {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    text-align: center;
}

.article-center {
    display: flex;
    justify-content: space-around;
}
